<div class="jumbotron">
    <div class="container">
        <h1>{{bookshelf().name}}</h1>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-xs-12">
            <alert ng-show="alert" type="alert.type" close="closeAlert()">{{alert.msg}}</alert>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default" tooltip="Add books" ui-sref="book.new({ bookshelfId: bookshelf().id })">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="" ng-click="clearShelf(bookshelf().id)">Clear bookshelf</a></li>
                                <li><a href="" ng-click="deleteShelf(bookshelf().id)">Delete bookshelf</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-2" ng-repeat-start="book in bookshelf().books">
                            <img ng-hide="book.image_link" src="/images/no_cover.jpg" alt="{{book.title}}" class="img-thumbnail img-responsive center-block" tooltip="{{book.title}}">
                            <img ng-show="book.image_link" ng-src="{{book.image_link}}" alt="{{book.title}}" class="img-thumbnail img-responsive center-block" tooltip="{{book.title}}">
                        </div>
                        <div class="clearfix hidden-xs hidden-sm" ng-if="($index + 1) % 6 == 0"></div>
                        <div class="clearfix visible-xs visible-sm" ng-if="$odd" ng-repeat-end></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>