<nav class="navbar navbar-default" style="margin-bottom: 0px; background-color: #ffffff; border-bottom: 0px" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-top">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="main">Bookshelf</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-top">
            <ul class="nav navbar-nav" ng-show="user.token">
                <li><a ui-sref="bookshelf.list">My bookshelves</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-hide="user.token">
                <li><a ui-sref="sign_up">Sign up</a></li>
                <li><a ui-sref="sign_in">Sign in</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="user.token">
                <li><a href ng-click="signOut()">Sign out</a></li>
            </ul>
        </div>
    </div>
</nav>